<div class="container-fluid" id="preferences">

	<div class="title">
		Configurações
	</div>

	<div class="info">
		<div>
			<div class="img">
				
			</div>
			<div class="edit">
				<button class="btn-edit">
					Alterar Imagem
				</button>
			</div>
		</div>
		<div class="company">
			<div>
				<h1 class="header">
					Clínica Santa Cruz
				</h1>
				<div class="body">
					<p>Av. Fantasia, 450, Cidade Universitária, Recife-PE</p>
					<p>Outras informações que podem ser adcionadas aqui.</p>
				</div>
			</div>
			<div class="footer">
				<button class="edit">Editar Perfil</button>
			</div>
		</div>
	</div>

</div>
