.topbar {
    height: var(--topbar-height);
}
.notification-btn {
    font-size:20px;
    background-color:#DFEEF0;
    color: #13455E;
    align-content: center center;
    padding: 5px;
    margin-top:5px;
    right:5px;
    position: absolute;
}
.notification-btn-content {
    position:relative;
    top:-1px;
}
.notification-btn > .icon {
    font-size:30px;
    position: relative;
    top: 3px;
    left: -2px;
}

.alert-text {
    color:#dc3545;
}

div.notifications-ball {
    font-size:20px;
    border-radius: 15px;
    min-width:30px;
    min-height:30px;
    color:#DFEEF0;
    display: inline-block;
    background-color:#dc3545;
}