#scheduler {
    height: 100%;
    width: 100%;
    margin-left:110px;
}

#scheduler > .doctor-list {
    width: 50%;
    height:50%;
    overflow-y: scroll;
    display:block;
}

#scheduler > .calendar {
    width: 50%;
    height: 50%;
}

#scheduler > table > tbody > tr > td > .scheduler {
    width: 50%;
    height:80%;
    overflow-y: scroll;
}
#schedulerTable {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom:0px;
}

#schedulerTable > tbody > tr > td {
  height: 100%;
  width: 50%;
}

ul.striped-list li {
    border-color: #ddd;
}

ul.striped-list > li:nth-of-type(odd) {
    background-color: #eee ;
}

#calendar ul {
    list-style-type: none;
    margin:     0;
    padding:    0;
}

#calendar .week {
    display: flex;
    justify-content: space-between;
}

#calendar .month {
  padding: 25px;
  width: 100%;
  background: #14465E;
  text-align: center;
}

#calendar .month li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#calendar .month .prev {
  float: left;
  cursor: pointer;
  padding: 15px 10px;
}

#calendar .month .next {
  float: right;
  cursor: pointer;
  padding: 15px 10px;
}

#calendar .weekdays {
    padding: 10px 0;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
}

#calendar .weekdays li {
  display: inline-block;
  width: 8%;
  color: #666;
  text-align: center;
}

#calendar .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

#calendar .days li {
    list-style-type: none;
    display: inline-block;
    /* width: 13.6%; */
    flex: 1;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar .days li:not(.inactive) {
  cursor: pointer;
}

#calendar .days li.inactive {
    color: #bbb;
}
  

#calendar .days li.active {
    background: #14465E;
    color: white !important;
}
