<nav class="nav flex-column mai-sidebar">
  <div class="nav-logo"></div>
  <div class="nav-divisor"></div>
  <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="icon ion-md-home"></i> Inicio</a>
  <a class="nav-link" routerLink="/schedule" routerLinkActive="active"><i class="icon ion-md-calendar"></i> Agenda</a>
  <!-- <a class="nav-link" routerLink="/chats" routerLinkActive="active"><i class="icon ion-md-chatbubbles"></i> Chat</a> -->
  <a class="nav-link" routerLink="/settings" routerLinkActive="active"><i class="icon ion-md-settings"></i> Configurações</a>
  <!-- <a class="nav-link" routerLink="#" routerLinkActive="active"><i class="icon ion-md-help"></i> Ajuda</a> -->
  <a class="nav-link" (click)="doLogOut()" routerLink="/login"><i class="icon ion-md-log-out"></i> Sair</a>
</nav>
