.mai-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;  /* col-2 */
    min-width: 200px;
    z-index: 1031; /* [bs]$zindex-fixed + 1 */
    background-color:#14465E;
    font-size:20px;
}
a {
    color:#CCC;  
}
a:hover {
    color:#FFF;
}
div.nav-divisor {
    border: 1px solid #59abb2;
}
