:root {
    --sidenav-width: 200px;
    --topbar-height: 70px;
}

/**********/
/* Layout */
/**********/

html, body {
    height: 100%;
    min-width: 768px;
}

.full-screen {
    height: 100%;
    width: 100%;
}

.full-width {
    width: 100%;
}

.mai-topbar-shift {
    padding-top: calc(var(--topbar-height) + 16px); /* Must be the height of topbar */
}

.mai-sidenav-shift {
    padding-left: var(--sidenav-width);
}

/*********/
/* Theme */
/*********/

.text-primary  {
    color: #14465E;
}
