<div class="container-fluid">
  <h5 class="text-primary">Solicitações de consultas</h5>
  <div class="flex-cards">
    <div class="item" *ngFor="let item of entries; let i = index">
        <div class="card pt-1 px-3 bg-light border-0">
          <div class="text-right text-secondary expire-time-font-size">
            <span>Expira em {{ item.expireTime }} min</span>
          </div>
          <div class="border position-relative">
            <img src="https://picsum.photos/200/200/?v={{ i }}" class="card-img" alt="Nome do Paciente">
            <div class="bg-info py-2 name-tag">
              <span>{{ item.patientName }}, {{ item.patientAge }}</span>
            </div>
          </div>
          <div class="pt-2 text-primary">
            <p class="card-text">
              <span class="font-weight-bold">Especialidade:</span><br/>
              <span>{{ item.specialty }}</span>
            </p>
            <p class="card-text">
              <span class="font-weight-bold">Data e hora:</span><br/>
              <span>{{ item.date | date: "dd/MM/yyyy HH:mm" }}</span>
            </p>
            <p class="card-text">
              <span class="font-weight-bold">Forma de pagamento:</span><br/>
              <span>{{ item.paymentMethod }}</span>
            </p>
          </div>
          <div class="btn-toolbar justify-content-between action-toolbar py-3" role="toolbar" aria-label="Ações de um pedido de agendamento">
              <button type="button" class="btn btn-danger" (click)="onRefuseClick(item)">Recusar</button>
              <button type="button" class="btn btn-success" (click)="onAcceptClick(item)">Marcar</button>
          </div>
        </div>
    </div>
  </div>
</div>
